
@media only screen and (max-width: 786px){

#section3 h1{margin-left: auto;
    margin-right: auto;}
.hidden{
    display: inline-block !important;
}
.show{
    display: none !important;
}

#section5 h1{
    font-size: 2rem;
}

   #footer {margin-top: 39%;
    margin-right: 15%;
}

#footer form {
    width: 50%;
}

button{width: 130px;}
}