/* Global Styles */
 body{
    background-color: #1E2125;
 }

/* Wrap */
 header{
     border:1px solid #1E2125;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-font{
    font-family: Gilroy-Heavy !important;
    font-size: 7rem;
    line-height: 7.5rem;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    font-weight: 900;   
}


.leading-relaxed{
    font-family: Gilroy-Light !important;
    font-size: 14px;
    line-height: 151.5%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

#tittle{
    margin-top: 15%;
}
   

/* Form & Input field styles */
 
form{
    margin-top: 10px; /* Make some more distance away from the description text */
}
 
form .submit_button{
    background: #F9F9F9; /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}
 
input{
    width: 446px;
    height: 45px;
    padding-left: 5%;
    background: #000000;
    border-radius: 5px; /*Add some more space around our text */
    font-family: Gilroy-Regular;
    font-size: 13px;
    line-height: 151.5%;
    letter-spacing: 0.045em;
    color: #737373;
    }

.error {color: #FF0000;}

button{
    width: 160px;
    height: 45px;
    background: #02CE9D;
    border-radius: 5px;
    font-family: Gilroy-Bold;
}

/*  images   */

.object-cover{
    position: static;
    margin-top: 45.5%;
}

#sticker{
    top: 28%;
    left: 62%;
    position: absolute;
}

#card{
    position: absolute;
    /* left: 29.96%; */
    right: 27.11%;
    top: 55.94%;
    bottom: 43.04%;
}

#flashdrive{
    position: absolute;
    top: 15%;
    right: 20%;
}

#jpg{
    top: 35%;
    position: absolute;
    right: 10%;
}